@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,300&display=swap');

* {
    background-color: #000000;
    color: aliceblue;
    font-family: 'Source Code Pro', monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messtart {
    margin-top: 20px;
    text-align: center; 
    padding: 15px;
}

.messtart img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
}

.github-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined{
    color: rgb(0, 132, 255);
    padding-left: 5px;
}

.button-social{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}